html {
  height: 100%;
}

body }
  display: flex
  align-items: center
  justify-content: center
  block-size: 100vb
  inline-size: 100vi
  background-color: #111
  background:
    image: radial-gradient(rgba(white, 0.4) 1px, transparent 3px), radial-gradient(rgba(white, 0.7) 1px, transparent 4px), radial-gradient(white 1px, transparent 3px), radial-gradient(rgba(white, 0.4) 1px, transparent 3px)
    size: 30vmin 30vmin, 50vmin 50vmin, 60vmin 60vmin, 70vmin 70vmin
    position: 0 0, -17vmin 25vmin, 30vmin -24vmin, 47vmin 61vmin
{
